@import 'utilities/mixins';

.main-content {
  
  #about-me {
    text-align: center;
    margin-bottom: 10%;
  }

  #coding-ex {
    border-top: 5px solid rgba(9, 2, 12, 0.8);
    padding-top: 50px;
    text-align: center;
    margin-bottom: 10%;;
  }

  .scs-treehouse>div>h3+p {
    margin: 5% 10% 0;
  }

  #scs-scheme {
    border-top: 5px solid rgba(9, 2, 12, 0.8);
    padding-top: 50px;
    margin-bottom: 50px;
  }
  
  .scs-slides {

    .slick-dots li {
      padding: 10px;
    }
  }

  .about-scs, #treehouse, #netmatters {
    @include box-design(rgba(9, 2, 12, 0.8));
    padding-top: 30px;
    width: 100%;
    text-align: center;
    p {margin: 0 10%};
    height: 275px;

    @media screen and (max-width: $bkpoint-sm) {
      height: 350px;    
    }
  }
}