@import 'utilities/mixins';

.main-content {
  
  #about-me {
    text-align: center;
    margin-bottom: 10%;
  }

  #coding-ex {
    border-top: 5px solid rgba(9, 2, 12, 0.8);
    padding-top: 50px;
    text-align: center;
    margin-bottom: 10%;;
  }

  .scs-treehouse>div>h3+p {
    margin: 5% 10% 0;
  }

  #scs-scheme {
    border-top: 5px solid rgba(9, 2, 12, 0.8);
    padding-top: 50px;
    margin-bottom: 50px;
  }
  
  .scs-slides {
    margin: 0 2%;

    .slick-list {
      padding: 0 145px;
    }
  }

  .about-scs, #treehouse, #netmatters {
    @include box-design(rgba(9, 2, 12, 0.8));
    padding-top: 30px;
    width: 100%;
    text-align: center;
    p {margin: 0 10%};
    height: 300px;
  }

  // .about-scs {
  //   padding: 20px 0;
  // }

  // #netmatters {
  //   padding: 20px 0 40px;
  // }

  // #treehouse {
  //   padding: 20px 0 80px;
  // }
}