#contact {
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
  justify-content: space-between;
  border-top: 5px solid aqua;
  padding-top: 50px;

  .get-in-touch {
    width: 100%;
    p {width: 90%;}

    @media screen and (max-width: $bkpoint-md) {
      margin-bottom: 10%;
    }
  }

  .contact {
    width: 100%;

    form {
      display: flex;
      flex-direction: column;
      box-shadow: 0 3px 35px rgba(0,0,0,0.1);
      border-radius: 10px;
      border: 1px solid rgba(0,0,0,0.2);
      padding: 5% 0;
      text-align: left;
      align-items: center;

      .input-control {
        width: 90%;
      }

      #first-name,
      #last-name,
      #email,
      #subject,
      textarea {
        width: 100%;
        margin-bottom: 10px;
        font-size: 1.5rem;
        border-radius: 3px;
        padding: 1%;
      }

      #submit {
        width: 85.5%;
        font-size: 1.5rem;
      }

      .input-control.success input {
          border-color: #09c372;
      }

      .input-control.error input {
          border-color: #ff3860;
      }

      .input-control .error {
        color: #ff3860;
        font-size: 9px;
        height: 13px;
      }

      @media screen and (max-width: $bkpoint-md) {
        #first-name,
        #last-name,
        #email,
        #subject,
        textarea
        {
          padding: 5%;
          width: 100%;
          margin-bottom: 2.5%
        }
      }
    }
  }

  @media screen and (max-width: $bkpoint-md) {
    text-align: center;
    flex-direction: column;
    p {width: 100%; margin: 10px auto;}
  }
}