footer {
  background-color: rgba(9, 2, 12, 0.8);;
  width: 100%;
  height: 10vh;
  text-align: center;

  .footer-main {
    // margin: auto 0;

    #credits {
      padding: 1% 0 0 15%;
      color: white;
      
      @media screen and (max-width: $bkpoint-lg) {
        padding-left: 0;
      }

      @media screen and (max-width: $bkpoint-md) {
        padding-left: 0;
      }
    }

    #s-icons {
      padding-left: 15%;
      margin-top: 0;
      font-size: 1.5rem;
      a {color: white;}

      @media screen and (max-width: $bkpoint-lg) {
        padding-left: 0;
      }

      @media screen and (max-width: $bkpoint-md) {
        padding-left: 0;
      }
    }
  }
}
