html {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

.container {
  margin: 0 5%;

  @media screen and (min-width: $bkpoint-lg) {
    margin-left: 25%;
    margin-right: 5%;
  }

  @media screen and (min-width: $bkpoint-xl) {
    margin-left: 325px;
    margin-right: 100px;
  }
}

.main-content {

  h1, h3 {
    margin-top: 0;
  }
}

