@import 'utilities/mixins';

#portfolio {
  border-top: 5px solid aqua;
  padding-top: 100px;

  .portfolio-grid {
    @include box-design(aquamarine);
    transition: background-color 0.5s, transform 0.5s;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 20px;
    margin-bottom: 10%;

    img {
      width: 398px; height: 250px;
      margin-top: -70px;
      border-radius: 10px 10px 0 0;
    }

    .project1, .project2 {
      
      @media screen and (max-width: $bkpoint-md) {
        margin: 0 auto 20%;
        width: 90%;
      }
    }

    .project1:hover, .project2:hover {
      transform: translate(0, -5px);

      img {
        border: 2px solid aquamarine;
        border-radius: 10px;
      }
    }

    .project1:hover {
    }

    @media screen and (min-width: $bkpoint-md) {
      grid-template-columns: 1fr 1fr;
    }
  }
}